<!DOCTYPE HTML PUBLIC "-//W3C//Dli HTML 4.01//EN">
<html lang="en">
<head>
	<link href = ""rel="stylesheet" type="text/css" href="./public/css/bootstrap.css">
<link href = ""rel="stylesheet" type="text/css" href="./public/css/styles.css">
<title>Home</title>
</head>
<body>
<div class = "bod">
	<p> This app is a to do 
		list developed by Captain Joannah
	</p>
	<p>
		
	</p>
	
	
</div>

</body>
</html>