<!DOCTYPE HTML PUBLIC "-//W3C//Dli HTML 4.01//EN">
<html lang="en">
<head>
	<link href = ""rel="stylesheet" type="text/css" href="./public/css/bootstrap.css">
<link href = ""rel="stylesheet" type="text/css" href="./public/css/styles.css">
<title>Home</title>
</head>
<body>
<div class = "bod">
	<p>Are you a Nerd!!!</p>
	<p> You can contact the developer of this app on the contacts below</p>
	<ul class = "list-unstyled">
		<li>Captain joannah</li>
		<li>256xxxx</li>
		<li>2293029023483</li>
		<li>6374847/li>
	</ul>
</div>

</body>
</html>