<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	
</head>
<body>
	<div class="bod">
		<a href="/" class="btn btn pull-right">Back To Tasks </a>

<div class ="form">
<form action = "/new" method = "POST" class = "">

 <div class="form-group field">
    <label for="task">Task</label>
    <input type="text" class="form-control"  placeholder="task title" name="title">
 </div>
 <div class="form-group field">
    <label for="description">Description</label>
    <input type="text" class="form-control"  placeholder="description" name="description">
 </div>
 <div class="form-group field">
    <label for="venue">Venue</label>
    <input type="text" class="form-control"  placeholder="venue" name="venue">
 </div>
 <div class="form-group field">
    <label for="duration">Duration</label>
    <input type="text" class="form-control"  placeholder="duration" name="duration">
 </div>

 <button type="submit" class="btn btn-primary">submit</button>

</form>
</div> 

</div>
</div>

</body>
</html>