<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="./css/styles.css">
<title></title>
</head>
<body>

<div class = "menu">
<nav> 
	<a href="/">Home</a>
	<a href="/about">About</a>
	<a href="/contact">Contact</a>
</nav>
</div>
<%= yield %>
<footer>
	joannah-2014
</footer>

</body>
</html>